<div data-role="page" class="page">
  
  <!-- header -->
  <div class="ui-bar page-header">
    <span><%= @msg %></span>
  </div>
  
  <!-- content -->
  <div data-role="content">
  
    <!-- loading gif -->
    <div class="setup-input" style="display:none;">
      <div style="height:20vh;background:transparent url('/public/images/loading.gif') no-repeat center center;background-size:contain;" onClick="backgroundPage('/app/Settings/showLogs');"></div>
    </div>
    
  </div>
  
  <script>
    $(document).ready(function() {
      $(".setup-input").fadeIn(400);
      
      <% if @mode == Settings::WAITFOR_SETUP %>
        backgroundPage("/app/Settings/downloadRigStatus");
      <% elsif @mode == Settings::WAITFOR_CONFIG %>
        replacePage("/app/Settings/setup");
      <% end %>
      
    });
  </script>
</div>